# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    - name: Check out soot
      run: |
           cd /home/runner/work/
           git clone https://github.com/soot-oss/soot.git
           cd soot
           git checkout -b 8f2b2023bbfae062d153216f779839f5eceb695a
           mvn install -DskipTests
    - name: Install local lib
      run: |
           cd /home/runner/work/averroes-gencg/libs
           ./install.sh
    - name: Build with Maven
      run: |
           cd /home/runner/work/averroes-gencg
           mvn install -DskipTests
        
